<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/stylesheet.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <header class="headerContainer">
            <section class="banner">
                
            </section>
            <div class="designContainer">
                <section class="sectionLogo">
                    
                </section>
                <section>
                    <h3 class="sectionLogin"></h3>
                </section>
            </div>

        </header>

        <nav>
            @Html.ActionLink("New Store", "Create", "Store")
            @Html.ActionLink("Lista de stores", "Index", "Store")
            @Html.ActionLink("Home", "Index", "Home")
        </nav>
        <div class="mainContainer">
            <aside>
               
            </aside>
            <main>
                @RenderBody()
            </main>
        </div>

        <footer>
            <h3></h3>
        </footer>
    </div>

</body>
</html>
